.createCourseImage {
  width: 100%;
  margin-bottom: 10%;
}
.Tittle {
  text-align: center;
  margin-bottom: 5%;
}

.wrapper {
  color: beige;
}

.important {
  color: #d96459;
}

.describe {
 
  height: auto;
  margin-bottom: 10px;
}

.coursetittle {
  
  max-width: 50%;

}

.styleclass {
  width: 99%;
  height: auto;
  justify-content: center;
  align-items: center;
}

#textinput {
  min-width: 100%;
}

.context {
  width: 100%;
  justify-content: center;
  margin: auto;
}
