body {
  background-color: rgba(90, 88, 88, 1);
}

.BackGround {
  position: fixed;
  color: beige;
  background-color: rgba(94, 69, 54, 0.829);
  height: 90%;
  width: 80%;
  left: 10rem;
  margin-top: 2rem;
}
.Tittle,
.Slogan {
  text-align: center;
}

.HeaderCreate {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 50%;
  height: 50%;
}
.Recomend {
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: left;
}
.CreateText {
  text-align: center;
}

.List {
  text-align: left;
}
