.container-footer {
   
        width: 100%;
        margin-top: 50px;
        background-color: black;
        padding: 5%;
       text-align: left;
}
.icon {
    font-size: 50pt;
    color: white;
}