.socialmedia {
  font-size: 50pt;
  color: rgb(93, 93, 145);
  margin-right: 5%;
}
.footer {
  opacity: 0.8;
  max-height: 20vw;
  justify-content: space-evenly;
}

.lili {
  margin-top: 2rem;
  color: rgb(223, 157, 157);
}
