.container {
  display: block;
  margin: auto;
  height: 100%;
 width: 100%;
}
.fotoperfil {
  object-fit: cover;
  border-radius: 10%;
  margin-bottom: 7%;
  width: 50%;
  
}
.titulo-profile {
  margin-bottom: auto;
}

.mb-3 {
  margin-top: 2rem;
}
