.container {
  display: block;
  margin: auto;
  margin-bottom: 5rem;
}
.fotoperfil {
  border-radius: 30%;
  margin-bottom: 2%;
  width: 100%;
}
.titulo-profile {
  margin-bottom: 10%;
}
.colorbar {
  background-color: #3e3227;
}
