.Header {
  display: flex;
  flex-direction: column;
}
.Bourdain {
  z-index: 0;
  position: relative;
  color: white;
  top: 5rem;
  left: 5rem;
  text-align: left;
  padding: 1%;
}
img {
  height: auto;
  width: 100%;
  z-index: -1;
  position: absolute;
}
.Anthony {
  color: rgba(217, 100, 89, 1);
  justify-content: left;
  margin-top: 2rem;
  left: 8rem;
  position: relative;
  top: 5rem;
}

#TopFive {
  z-index: 1;
  position: relative;
  height: 20rem;
  width: 40rem;
  margin-top: 20rem;
}
