.Home {
  z-index: -2;
  margin: 0%;
}
#BackHead {
  position: fixed;
  padding: 0%;
  max-width: 100%;
  min-height: auto;
  z-index: -1;
}
#Bourdain {
  z-index: 1;
  position: relative;
  color: beige;
  text-align: left;
  padding: 5%;
  max-width: 40vw;
  font-size: 2vw;
  gap: 1rem;
}
.Anthony {
  color: rgba(217, 100, 89, 1);
  justify-content: left;
  position: relative;
  text-align: left;
  font: 8vw;
}
.carousel {
  padding: 5rem;
  padding-top: 0.5rem;
}
.TopFive {
  height: auto;
  max-width: 20%;
  position: relative;
  z-index: 2;
  margin: 0%;
  padding: 0%;
}

.Students {
  display: flex;
  max-width: 100%;
  align-items: center;
  gap: 1rem;
  padding: 2%;
  padding-left: 15%;
}
.StuPic {
  max-width: 30rem;
  border-radius: 10px;
}

.StudentsText {
  background-color: rgb(92, 64, 48);
  max-width: 50%;
  text-align: center;
  border-radius: 10px;
  padding: 3rem;
}
.ProfTittle,
.StuTittle {
  text-align: center;
  color: rgba(217, 100, 89, 1);
}

.ProfePic {
  max-width: 30rem;
  border-radius: 10px;
}

.ProfessorSide {
  display: flex;
  max-width: 100%;
  align-items: center;
  gap: 1rem;
  padding: 2%;
  padding-right: 15%;
  flex-direction: row-reverse;
}
.ProfeText {
  background-color: rgb(92, 64, 48);
  max-width: 50%;
  text-align: center;
  border-radius: 10px;
  padding: 3rem;
}
.stuprof {
  justify-content: center;
}
