.BackHome {
  margin: 0%;
  padding: 0%;
  z-index: -2;
  max-width: 100%;
  min-width: 100%;
  height: auto;
  display: block;
}

#BackHead {
  position: fixed;
  padding: 0%;
  width: 100%;
  height: auto;
  margin: none;
  z-index: -1;
}

#Bourdain {
  position: relative;
  color: beige;
  text-align: left;
  padding: 10%;
  max-width: 50vw;
}

#Bourdain h3 {
  font-size: 2vw;
  margin-top: 1rem;
}

.Anthony {
  color: rgba(217, 100, 89, 1);
}

.carousel {
  max-width: 100%;
  padding: 10rem;
  margin: 0%;
  padding-top: 0.1%;
  padding-right: 3rem;
}

.TopFive {
  height: auto;
  width: 30%;
  position: relative;
  margin: 0%;
  padding: 0%;
  font-size: 1vw;
  box-sizing: none;
}
.carutittle {
  color: rgba(217, 100, 89, 1);
  font-weight: bolder;
  font-size: medium;
}

.textcolor {
  color: beige;
  font-weight: bold;
}

.carutext {
  margin-top: 8rem;
}

.Students {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  max-width: 100%;
  margin-top: 2%;
  padding: 2%;
}


.StuPic {
  max-width: 40%;

}

.StudentsText {
  background-color: #3e3227;

  color: beige;
  max-width: 100%;
  height: auto;

  text-align: center;
  border-radius: 10px;
  font-size: 1.1vw;
  padding: 0.5rem;

  display: flex;
  flex-direction: row;
  

}

.ProfTittle,
.StuTittle {
  text-align: center;
  color: rgba(217, 100, 89, 1);
  padding: 1px;
}

h5 {
  text-align: center;
  color: rgba(217, 100, 89, 1);
}

.ProfessorSide {
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-right: 16%;
  flex-direction: row-reverse;
  margin-top: 1rem;
}

.ProfeText {
  background-color: #3e3227;
  color: beige;
  max-width: 40%;
  max-height: 18rem;
  text-align: center;
  border-radius: 10px;
  font-size: 1.1vw;
  padding: 0.5rem;
}

.stuprof {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5%;
 
}

.textsp {
  color: beige;
}
