.title {
    color: #D96459;

}

.container-cursos{

    display: flex;
    flex-direction: row;
    justify-content:start;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-bottom: 5%;
}
.card-link {
    display: flex;
    flex-direction: row;
    
}
.card{
   
    height: 100%;
    padding-bottom: 5%;
    background-color: black;
}
.card-img-top {
    height: 100%;
}
.card-body {
    margin-top:2%;
    height: auto;
}
a {
    text-align: center;
}

.buttoncourselist {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 2%;
}
.m-5{
    margin: .5rem !important;
}