.wraper {
  width: 100%;
  height: auto;
  padding: 0%;
  margin: 0% !important;
  background-color: #262626;
}

.modtittle {
  color: rgba(217, 100, 89, 1);
}

.modbody {
  justify-content: flex-start;
  background-color: #3e3227;
  color: beige;
}
.bodytitle {
  color: rgba(217, 100, 89, 1);
}
.list {
  color: beige;
}
