.navbody {
  background-color: #262626;
  overflow: hidden;
  position: fixed;
  margin: 0%;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1;
  gap: 5rem;
}

.homebutton {
  width: 12vw;
}

.student:hover,
.professor:hover,
.categories:hover {
  background-color: #5a5858;
  color: #d96459;
  border-radius: 5px;
}

.logo {
  padding: 0.55rem;
  width: 70%;
  height: auto;
}

.stu-prof-cat {
  display: flex;
  gap: 1rem;
  font-size: 1vw;
}

.student,
.professor,
.categories {
  color: beige;
  gap: 5rem;
}

a {
  text-decoration: none;
}

.categories {
  background-color: transparent;
  border: none;
  margin-bottom: 2px;
}

.dropdown {
  position: relative;
  padding-top: 0.1rem;
  max-width: 10rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 2;
  background-color: #5a5858;
  border-radius: 5px;
}

.dropdown-content a {
  color: #d96459;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #5a5858;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .categories {
  background-color: #262626;
}

.search {
  max-width: 100%;
}

.searchbar {
  border-radius: 5px;
}

.search-button {
  margin: auto;
  display: flex;
  max-width: 50%;
}

.bcart,
.blogin,
.sbutton {
  margin: auto;
  max-width: 4rem;
  min-width: 2rem;
  background-color: #5a5858;
  font-size: smaller;
  color: #d96459;
  border-radius: 5px;
  gap: 1rem;
}

.search-button,
.stu-prof-cat,
.logo {
  margin: auto;
  gap: 1rem;
}
