.wraper {
  background: dimgray;
  height: auto;
  width: 100%;
  grid-template-columns: min-content auto min-content;
}
.navcontainer {
  background-color: rgb(41, 41, 41);
  max-width: 100%;
  min-height: 100%;
  display: grid;
  gap: 0.1rem;
}
.topnav {
  width: 100%;
  height: auto;
  padding: 0%;
}
.logo {
  max-width: 6rem;
  min-height: 6rem;
  display: flex;
  justify-self: start;
  padding-top: 2rem;
  left: 2rem;
}

.student,
.professor,
.categories {
  max-width: 4rem;
  min-height: 10%;
  text-align: center;
  gap: 0.1rem;
}

.sbar {
  max-width: 25%;
  min-width: auto;
  background-color: rgb(41, 41, 41);
}

.cart {
  max-width: 5rem;
  min-height: 2rem;
  background-color: rgb(41, 41, 41);
}

.login {
  max-width: 5rem;
  max-height: 2rem;
  background-color: rgb(41, 41, 41);
}

.searchbar {
  max-width: 6rem;
  min-height: 3rem;
  justify-content: end;
  gap: 0.1rem;
  background-color: rgb(41, 41, 41);
}
.sbutton {
  max-width: 5rem;
  min-height: 5rem;
  background-color: rgb(41, 41, 41);
  color: black;
}
