.navbody {
  background-color: #262626;
  width: 100%;
  height: auto;
  display: flex;
  gap: 2rem;
  margin: 0;
}

.logo {
  max-width: 7rem;
  min-width: 2rem;
}

.student,
.professor {
  color: beige;
  padding: 2rem;
  display: inline;
  max-width: 2rem;
  font-size: smaller;
}

.dropbtn {
  background-color: transparent;
  color: beige;
  font-size: smaller;
  border: none;
  display: inline;
  padding: 1.4rem;
}
.student,
.professor,
.dropdown {
  display: inline;
}
.dropdown {
  position: relative;
  padding-top: 0.7rem;
  max-width: 10rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #262626;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #262626;
}
.search {
  margin: auto;
  max-width: 100%;
  max-height: 10%;
  display: flex;
  font-size: smaller;
  justify-content: center;
  gap: 00.5rem;
}
.searchbar {
  max-width: 100%;
  text-align: center;
  max-height: 2rem;
  border-radius: 5px;
}

.sbutton {
  max-width: 4rem;
  max-height: 2rem;
  background-color: #5a5858;
  color: #d96459;
  border-radius: 5px;
}

.bcart {
  max-height: 2rem;
  max-width: 4rem;
  background-color: #5a5858;
  color: #d96459;
  border-radius: 5px;
  padding: 1rem;
  margin: auto;
}

.blogin {
  max-height: 2rem;
  max-width: 4rem;
  background-color: #5a5858;
  color: #d96459;
  border-radius: 5px;
  padding: 1rem;
  margin: auto;
}
