.paymentCard {
  width: 60%;
  height: 200px;
  margin: auto;
  color: beige;
  margin-top: 10%;
}
.card-title.h5 {
  text-align: center;
  color: rgba(217, 100, 89, 1);
  margin-bottom: 5%;
}
.paymentInput {
  color: beige;
}
.paytext {
  background-color: black;
  color: rgba(217, 100, 89, 1);
  padding: 5% 5% 10% 5%
}
.buybutton {
  margin-top: 2% !important;
}