.search2 {
    width: 100%;
}


.searchInputs2 {
    width: 100%;
    display: flex;
    position: relative;
  }


.search2 input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 100%;
    width: 100%;
   
  }
  
  .searchIcon2 {
   max-height: 100%;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon2 svg {
    font-size: 35px;
  }
  
  .dataResult {
    margin-top: 5px;
    width: auto;
    height: auto;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: auto;
    overflow-y: visible;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: absolute;
    font-size: large;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  #results {
    text-decoration: none;
    text-align: start;
    color:#d96459;
  }
  
  #results:hover {
    background-color: white;
  }
  
  #clearBtn {
    cursor: pointer;
  }