.contenido {
  background-color: black;
  border-radius: 0 1% 1% 0 !important;
  overflow-x: visible;
}
.marco {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.contenido-menu {
  padding-right: 0%;
  border-radius: 0%;
}
.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: 0.25rem 0 0 0.25rem;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: beige;
  background-color: black;
}

.titulo {
  background-color: #3e3227;
  color: #d96459;
  padding: 2%;
  border-radius: 2%;
  margin: 2% auto;
}
.form-label {
  color: #d96459;
}
h5,
h4,
p,
h1 {
  text-align: center;
  color: rgba(217, 100, 89, 1);
  margin-bottom: 5%;
}
